.navBar
{
	height: 55px;
	width: 100%;
	background-color: #00aeef;
	color: #ffffff;
	text-align: center;
	margin-top: -15px;
	padding-top: 10px;
}

.topcoat-text-input.full
{
	margin-left: 0px !important;
}

form button[type=submit]
{
	margin-top: 10px !important;
}

#login-logo
{
	text-align:center;
}

.streamPost
{ 
	background-color: #C9C9C9; 
	padding: 0.5em;
	border-radius: 5px;
	box-shadow: 1px 1px 1px gray;
}

.topcoat-textarea
{
	width: 100%;
	height: 200px;
}

.topcoat-textarea + form button[type=submit]
{
	float: right !important;
}

#userWelcome
{
	text-align: center;
}