<!--
<div class="navBar">
	<h3>Login</h3>
</div>
-->

<div class="content-padded">

	<div id="login-logo">
		<img src="/images/Foundee Logo.png">
  	</div>

  	<form>
	  	<!-- <input type="text" class="topcoat-text-input full" id="status" disabled> -->
	  	<input type="text" class="topcoat-text-input full" id="username" placeholder="Username" value="">
	  	<input type="password" class="topcoat-text-input full" id="password" placeholder="Password" value="">
	  	<br>
	  	<div id="error">
	  	</div>
	  	<br>
	  	<button type="submit" class="topcoat-button--cta center full" ontouchend="login()">Login</button>
  	</form>

</div>

<script>
	//onload();
</script>